<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a ui-sref="App" class="logo">
            <img src="./human.jpg" alt="" width="120px">
        </a>
        <ul class="nav nav-pills">
            <li class="navbar__item navbar-right"><a ui-sref="App.Registration">Register</a></li>
            <li class="navbar__item navbar-right"><a ui-sref="Login">Login</a></li>
            <li class="navbar__item navbar-right"><a ui-sref="App.Users">Active users</a></li>
            <li class="navbar__item navbar-right"><a ui-sref="App.UserPrivateDashboard">Your dashboard</a></li>
        </ul>
    </div>
</nav>