<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="navbar-left">
                <a ui-sref="App">
                    <img src="/dist/iThinkOfU.png" alt="" width="120px">
                </a>
            </li>
            <li class="navbar__item navbar-right"><a ui-sref="App.Registration">Register</a></li>
            <li class="navbar__item navbar-right"><a ui-sref="App.Login">Login</a></li>
            <li class="navbar__item navbar-right"><a ui-sref="App.Users">Active users</a></li>
            <li class="navbar__item navbar-right"><a ui-sref="App.ManageUsers">Manage users</a></li>
            <li class="navbar__item navbar-right"><a ui-sref="App.UserPrivateDashboard">Your dashboard</a></li>
        </ul>
    </div>
</nav>