.navbar {
    &--no-inherit {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }

    &__toggle {
        padding: 15px;
    }
    &__header-items {
        display: none;
    }
    &__collapse {
        display: none;

        &--expanded {
            display: block;

            .navbar-items {
                display: flex;
                flex-direction: column;
                height: 100vh;
                align-items: flex-end;
                background-color: rgba(16, 96, 128, .8);
                width: 70%;
                float: right;
            }
        }
    }
    
    @media (min-width: 601px) {
        &__toggle {
            display: none;
        }
        &__header-items {
            display: block;

            .navbar-items {
                display: flex;
                //align-items: flex-end;
                //background-color: rgba(16, 96, 128, .8);
                //width: 70%;
                //float: right;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #168;
        color: white;
    }

    &__logo {
        padding: 15px;

        &-link {
            color: white;
            font-size: 18px;
            font-weight: 800;
        }
    }
}
