<nav class="navbar--no-inherit">
    <div class="navbar__header">
        <div class="navbar__logo">
            <a class="navbar__logo-link" href="#">Human</a>
        </div>
        <div>
            <button (click)="toggle()"
                    type="button"
                    class="navbar-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="navbar__collapse"
         [ngClass]="{'navbar__collapse--expanded': expanded}">
        <a class="navbar__link"
           (click)="toggle()"
           routerLinkActive="navbar__link--active"
           routerLink="/users">Active users</a>
        <a class="navbar__link"
           (click)="toggle()"
           routerLinkActive="navbar__link--active"
           routerLink="/dashboard">Dashboard</a>
        <a class="navbar__link"
           (click)="toggle()"
           routerLinkActive="navbar__link--active"
           routerLink="/support">Support</a>
        <a class="navbar__link"
           (click)="toggle()"
           routerLinkActive="navbar__link--active"
           routerLink="/logout">Log out</a>
    </div>

</nav>
