.navbar {
    &--no-inherit {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 600px) {
        &__collapse {
            display: none;

            &--expanded {
                display: flex;
                flex-direction: column;
                height: 100vh;
                align-items: flex-end;
                background-color: rgba(16, 96, 128, .8);
                width: 70%;
                align-self: flex-end;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #168;
        color: white;
    }

    &__logo {
        padding: 15px;

        &-link {
            color: white;
            font-size: 18px;
            font-weight: 800;
        }
    }

    &__link{
        color: white;
        padding: 15px;
        font-weight: 200;
        font-style: italic;

        &:hover, &:focus {
            color: black;
            text-decoration: none;
        }

        &--active {
            font-weight: 800;
            font-style: normal;
        }
    }
}
