<nav class="navbar--no-inherit">
    <div class="navbar__header">
        <div class="navbar__logo">
            <a class="navbar__logo-link" href="#">Human</a>
        </div>
        <div class="navbar__header-items">
            <navbar-items></navbar-items>
        </div>
        <div (click)="toggle()" class="navbar__toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>

    <div class="navbar__collapse"
         [ngClass]="{'navbar__collapse--expanded': expanded}">
        <navbar-items></navbar-items>
    </div>

</nav>
