.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.label-success {
  background-color: #00c292;
}

.label-danger {
  background-color: #ed4040;
}

.label-info {
  background-color: #5475ed;
}

.label-rounded {
  border-radius: 60px;
  padding: 4px 12px 3px;
  font-weight: 500;
}

.simple-button {

  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  cursor: pointer;

  &--approve {
    color: #3c763d;

    &::before{
      content: "\F00C";
    }
  }

  &--reject {
    color: #a94442;

    &::before{
      content: "\F00D";
    }
  }
}

.button {
    background-color: transparent;
    padding: 8px 8px;
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    width: 100%;
    font-weight: 800;

    &--naked {
        border: 0;
    }

    &--large {
        line-height: 1.3333333;
        padding: 10px 16px;
        font-size: 18px;
    }
}
