<div class="notify" *ngIf="visible">
    <div class="notify__info">
        <div class="notify__title">Example title</div>
        <div class="notify__desc">Lorem ipsum Lorem ipsum Lorem
            ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </div>
    </div>
    <div class="notify__actions">
        <button class="btn btn-primary form-control">Understood</button>
        <div class="notify__radio-choice">
            <button class="notify__radio-choice__option btn btn-success">Yes</button>
            <button class="notify__radio-choice__option btn btn-warning">No</button>
        </div>
    </div>
</div>