<div class="col-md-6 col-lg-6">
    <div class="white-box">
        <h3 class="box-title">
            Your feedback
        </h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>DESCRIPTION</th>
                    <th>FROM</th>
                    <th>ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let r of feedback">
                    <td class="txt-oflo">{{r.type}} {{r.description}}</td>
                    <td class="txt-oflo">
                        <img class="table__small-img" src="{{r.sender.photoURL}}" alt="">
                        {{r.sender.displayName}}
                    </td>
                    <td class="txt-oflo">
                        <i (click)="ignoreFeedback(r)"
                           class="simple-button simple-button--reject"></i>
                        <i (click)="acceptFeedback(r)"
                           class="simple-button simple-button--approve"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="col-md-6 col-lg-6">
    <div class="white-box">
        <h3 class="box-title">Current Habits</h3>
        <ul class="country-state">
            <li *ngFor="let r of habits">
                <h5>{{r.type | lowercase }} {{r.description | lowercase}}</h5>
                <small>
                    <img class="table__small-img" src="{{r.sender.photoURL}}" alt="">
                    {{r.sender.displayName}}
                </small>
                <div class="pull-right">0% <i class="fa fa-level-up text-success"></i></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width:0;"><span
                            class="sr-only">0% Complete</span></div>
                </div>
            </li>
        </ul>
    </div>
</div>

