<div class="container">
    <div class="jumbotron text-center">
        <h1>Hi, {{$ctrl.user.name}}!</h1>
        <p>How is your day, today?</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

    </div>

    <h3>Received habit requests</h3>

    <table class="table table-striped table-hover">
    	<thead>
    		<tr>
    			<th>type</th>
    			<th>summary</th>
    			<th>requested by</th>
    			<th>actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="r in $ctrl.habitRequests.received">
    			<td>{{r.type}}</td>
    			<td>{{r.name}}</td>
    			<td>{{r.requestedBy}}</td>
    			<td>
					<div class="btn btn-primary">Accept</div>
				</td>
    		</tr>
    	</tbody>
    </table>

	<h3>Requested habit requests</h3>

    <table class="table table-striped table-hover">
    	<thead>
    		<tr>
    			<th>type</th>
    			<th>summary</th>
    			<th>sent to</th>
    			<th>actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="(key, r) in $ctrl.habitRequests.requested">
    			<td>{{r.type}}</td>
    			<td>{{r.name}}</td>
    			<td>{{r.toUser}}</td>
    			<td>
					<div class="btn btn-primary">Cancel</div>
				</td>
    		</tr>
    	</tbody>
    </table>
</div>