<div class="navbar-items">
    <a class="navbar__link"
       routerLinkActive="navbar__link--active"
       routerLink="/users">Active users</a>
    <a class="navbar__link"
       routerLinkActive="navbar__link--active"
       routerLink="/dashboard">Dashboard</a>
    <a class="navbar__link"
       routerLinkActive="navbar__link--active"
       routerLink="/habits">Habits</a>
    <a class="navbar__link"
       routerLinkActive="navbar__link--active"
       routerLink="/umpire">Umpire</a>
    <a class="navbar__link"
       routerLinkActive="navbar__link--active"
       routerLink="/feedback">Feedback</a>
    <a class="navbar__link"
       routerLinkActive="navbar__link--active"
       routerLink="/logout">Log out</a>
</div>
