<div class="user">
    <div class="user__personal-data">

        <a [routerLink]="['/profile', data.$key]">
            <img alt="img" class="thumb-lg user__photo"
                 src="{{data.photoURL}}"></a>
        <p>{{data.displayName}}</p>

    </div>
    <div class="user__statistics">
        <div class="user__statistics-item">
            <p>In progress</p>
            <p>2</p>
        </div>

        <div class="user__statistics-item">
            <p>Finished</p>
            <p>1</p>
        </div>
        <div class="user__statistics-item"
             *ngIf="data.currentMood">
            <h2 style="margin-top: 0">{{emoji[data.currentMood]}}</h2>
        </div>
    </div>
</div>