$color-not: #FF6961;
$color-hot: #5BCC39;

.hot-or-not {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    &__description {
        width: 60%;
        padding: 5px 10px;
    }

    &__button {
        flex-grow: 1;
        color: white;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;

        &--hot {
            background-color: $color-hot;
        }

        &--not {
            background-color: $color-not;
        }
    }
}
