<div class="container">
    <div class="dashboard__heading">
        <p>What's up {{currentUser?.displayName}}??</p>
        <mood-meter [current]="currentUser?.currentMood"
                    (onChange)="moodChanged($event)"></mood-meter>
    </div>

    <div class="dashboard__stats">
        <div class="dashboard__widget">
            <dashboard-number
                title="Mastered"
                color="#ed4040"
                icon="check-square-o"
                number="{{currentUser?.mastered || 0}}">
            </dashboard-number>
        </div>
        <div class="dashboard__widget dashboard__widget--with-margin">
            <dashboard-number
                title="Points"
                color="#5475ed"
                icon="thumbs-o-up"
                number="{{points | async}}">
            </dashboard-number>
        </div>
    </div>
</div>
