<div class="container">
    <div class="dashboard__heading">
        <p>How is your day, today??</p>
        <mood-meter [current]="currentUser?.currentMood"
                    (onChange)="moodChanged($event)"></mood-meter>
    </div>

    <div class="dashboard__stats">
        <div class="dashboard__widget">
            <dashboard-number
                title="Mastered"
                color="#ed4040"
                icon="check-square-o"
                number="2">
            </dashboard-number>
        </div>
        <div class="dashboard__widget dashboard__widget--with-margin">
            <dashboard-number
                title="Points"
                color="#5475ed"
                icon="thumbs-o-up"
                number="{{pointsEarned}}">
            </dashboard-number>
        </div>
    </div>

    <div class="dashboard__widget">
        <feedback [data]="feedback"></feedback>
    </div>

    <div class="dashboard__widget">
        <habits [data]="habits"></habits>
    </div>
</div>
