$color-stop: #FF6961;
$color-start: #5BCC39;
$color-more: #A1FFAA;
$color-less: #CC6B39;
$color-continue: #998377;

.send-challenge {
    display: flex;
    flex-direction: column;

    &--start {
        background-color: $color-start;
    }
    &--stop {
        background-color: $color-stop;
    }
    &--less {
        background-color: $color-less;
    }
    &--more {
        background-color: $color-more;
    }
    &--continue {
        background-color: $color-continue;
    }
}

