<div class="marshall-circle">
    <div class="marshall-circle__item marshall-circle__item--more">
        Do more
    </div>
    <div class="marshall-circle__item marshall-circle__item--less">
        Do less
    </div>
    <div class="marshall-circle__item marshall-circle__item--start">
        Start doing
    </div>
    <div class="marshall-circle__item marshall-circle__item--stop">
        Stop doing
    </div>
    <div class="marshall-circle__item marshall-circle__item--continue">
        Continue
    </div>
    <div class="marshall-circle__bg marshall-circle__bg--more"></div>
    <div class="marshall-circle__bg marshall-circle__bg--less"></div>
    <div class="marshall-circle__bg marshall-circle__bg--start"></div>
    <div class="marshall-circle__bg marshall-circle__bg--stop"></div>
    <div class="marshall-circle__bg marshall-circle__bg--continue"></div>
</div>