<div class="marshall-circle">
    <div class="marshall-circle__item marshall-circle__item--more">
        Do more
    </div>
    <div class="marshall-circle__item marshall-circle__item--less">
        Do less
    </div>
    <div class="marshall-circle__item marshall-circle__item--start">
        Start doing
    </div>
    <div class="marshall-circle__item marshall-circle__item--stop">
        Stop doing
    </div>
    <div class="marshall-circle__item marshall-circle__item--continue">
        Continue
    </div>
    <div (click)="clicked('more')"
         [ngClass]="{'marshall-circle__bg--active': type==='more'}"
         class="marshall-circle__bg marshall-circle__bg--more"></div>
    <div (click)="clicked('less')"
         [ngClass]="{'marshall-circle__bg--active': type==='less'}"
         class="marshall-circle__bg marshall-circle__bg--less"></div>
    <div (click)="clicked('start')"
         [ngClass]="{'marshall-circle__bg--active': type==='start'}"
         class="marshall-circle__bg marshall-circle__bg--start"></div>
    <div (click)="clicked('stop')"
         [ngClass]="{'marshall-circle__bg--active': type==='stop'}"
         class="marshall-circle__bg marshall-circle__bg--stop"></div>
    <div (click)="clicked('continue')"
         [ngClass]="{'marshall-circle__bg--active': type==='continue'}"
         class="marshall-circle__bg marshall-circle__bg--continue"></div>
</div>