.habits {
    &__category {
        text-align: center;
        background-color: #168;
        color: white;
        padding: 5px;
        font-weight: 800;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &-text--complete {
            font-weight: 800;
        }

        &__progress {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;
            overflow: hidden;

            &-bar {
                background-color: #8D8;
                height: 30px;
            }
        }

        &__completeness {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__item-img {
        max-height: 45px;
    }
}
