.habits {
    &__item {
        display: flex;
        flex-direction: column;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__item-img {
        max-height: 45px;
    }
}
