<form ng-submit="$ctrl.login($ctrl.authData)" class="form-inline">
    <div class="input-group">
        <label class="form-inline">
            <input type="email"
                   name="email"
                   class="form-control"
                   placeholder="Email"
                   ng-model="$ctrl.authData.email">
            <input type="password"
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="$ctrl.authData.password">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    Login
                </button>
            </div>
        </label>
    </div>
</form>
<div>
    <button ng-click="$ctrl.loginWithFb()"
            class="btn btn-primary">Login with Facebook
    </button>
</div>