$color-angry: #FF6961;
$color-perfect: #5BCC39;
$color-well: #A1FFAA;
$color-sad: #998377;

.mood-meter {

    display: flex;

    .mood-meter__item {

        &:first-child{
            border-radius: 10px 0 0 10px;
        }

        &:last-child{
            border-radius: 0 10px 10px 0;
        }

        background-color: white;
        font-size: 30px;
        padding: 10px;
        width: 100%;

        &--perfect:hover, &--perfect.mood-meter__item--active {
            background-color: $color-perfect;
        }
        &--well:hover, &--well.mood-meter__item--active {
            background-color: $color-well;
        }
        &--sad:hover, &--sad.mood-meter__item--active {
            background-color: $color-sad;
            color: white;
        }
        &--angry:hover, &--angry.mood-meter__item--active {
            background-color: $color-angry;
        }
    }
}
