<div class="mood-meter">
    <div (click)="changeMood('perfect')"
           [ngClass]="{'mood-meter__item--active': current === 'perfect'}"
           class="mood-meter__item mood-meter__item--perfect">
        {{emoji.perfect}}
    </div>

    <div (click)="changeMood('well')"
           [ngClass]="{'mood-meter__item--active': current === 'well'}"
           class="mood-meter__item mood-meter__item--well">
        {{emoji.well}}
    </div>

    <div (click)="changeMood('sad')"
           [ngClass]="{'mood-meter__item--active': current === 'sad'}"
           class="mood-meter__item mood-meter__item--sad">
        {{emoji.sad}}
    </div>

    <div (click)="changeMood('angry')"
           [ngClass]="{'mood-meter__item--active': current === 'angry'}"
           class="mood-meter__item mood-meter__item--angry">
        {{emoji.angry}}
    </div>
</div>
