<div class="mood-meter">
    <div (click)="changeMood('perfect')"
           [ngClass]="{'mood-meter__item--active': current === 'perfect'}"
           class="mood-meter__item mood-meter__item--perfect">
        <i class="twa twa-1f600"></i>
    </div>

    <div (click)="changeMood('well')"
           [ngClass]="{'mood-meter__item--active': current === 'well'}"
           class="mood-meter__item mood-meter__item--well">
        <i class="twa twa-1f642"></i>
    </div>

    <div (click)="changeMood('sad')"
           [ngClass]="{'mood-meter__item--active': current === 'sad'}"
           class="mood-meter__item mood-meter__item--sad">
        <i class="twa twa-1f625"></i>
    </div>

    <div (click)="changeMood('angry')"
           [ngClass]="{'mood-meter__item--active': current === 'angry'}"
           class="mood-meter__item mood-meter__item--angry">
        <i class="twa twa-1f624"></i>
    </div>
</div>
