<div class="support">
    <div *ngFor="let user of support | async">
        <div class="profile__heading">
            <img alt="img" class="profile__photo"
                 src="{{user?.photoURL}}">
            <span class="profile__display-name">{{user?.displayName}}</span>
        </div>

        <div class="support__items">
            <div class="support-item" *ngFor="let r of user.habits">
                <hot-or-not [name]="r.type + ' ' + r.description"
                            (actionHot)="accept(r)"
                            (actionNot)="ignore(r)"></hot-or-not>
            </div>
        </div>
    </div>
</div>
